<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="com.yonyou.mapping.userMapper"就是com.yonyou.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.yonyou.mapping.UserMapper">
    <!-- 在select标签中编写查询的SQL语句， 设置select标签的id属性为getUser，id属性值必须是唯一的，不能够重复-->
    <!-- 根据id查询得到一个user对象-->
    <select id="getUser" parameterType="int"  resultType="User">
        select * from _user where id=#{id}
    </select>
    
    <!-- 多対一 begin -->
    <!-- 嵌套的resultMap -->
    <!-- <resultMap type="User" id="UserResultMap">
    	<id column="id" property="id"/>
    	<result  column="age" property="age"/> 
    	<association property="group" javaType="com.yonyou.model.Group" >
    		<id column="_id" property="id"/>
    		result的值会映射到对象中 
    		 <result column="_name" property="name"/>  
    	</association> 
    </resultMap>
    <select id="getUserAsso" parameterType="int" resultMap="UserResultMap">
    	select u.*,g.* from _user u,_group g where u.id = g._id and g._id = #{id}
    </select> -->
    <!-- 嵌套的select语句 -->
    <!-- 查询学生的结果映射，只映射简单属性 -->
	<resultMap id="simpleUser" type="User">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="age" column="age" />
	</resultMap>
    <select id="getUserAsso" parameterType="int" resultMap="UserResultMap">
    	select * from _user u where u.id = #{id}
    </select>
    <select id="selectGroup" parameterType="int" resultMap="GroupResultMap">
    	select * from _group g where g._id = #{id}
    </select>
     <resultMap type="User" id="UserResultMap" extends="simpleUser">
    	<!-- columnn不能少，此列的值作为参数传递给要引用的select语句，如果要多个值可以写成column= “{prop1=col1,prop2=col2}”
    		调用的时候在selectGroup中取#{propX}
    	 --> 
    	<association column="groupid" property="group" javaType="Group" select="selectGroup"/>
     </resultMap>
     <resultMap type="Group" id="GroupResultMap">
     	<id column="_id" property="id"/>
    	<result  column="_name" property="name"/> 
     </resultMap>
    <!-- 多対一 end -->
    
    <!-- 一对多  begin-->
 	<select id="getGroupAsso" parameterType="int" resultMap="GroupResultMapEx">
    	select * from _user u,_group g where u.groupid = g._id and g._id = #{id}
    </select>
    <resultMap type="Group" id="GroupResultMapEx" extends="GroupResultMap">
    	<collection property="users" javaType="java.util.List" ofType="User">
    		 <id column="id" property="id"/>
    		 <result column="name" property="name"/>
    		 <result column="age" property="age"/>  
    	</collection> 
    </resultMap> 
    <!-- 一对多  end -->
	    
    <!-- 插入 insert -->
    <!-- 批量插入 -->
    <insert id="insertUsers" useGeneratedKeys="true" parameterType="java.util.List">
    	insert into _user (name,age) values
    	<foreach collection="list" item="item" index="index" separator="," >  
        	(#{item.name},#{item.age})  
    	</foreach> 
    </insert>
</mapper>